<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projetos</title>
        <link rel="stylesheet" type="text/css" href="../static/css/projetos_style.css">
    </head>
    <body>
        <header>
            <span id="logotipo">
                LOGOTIPO
            </span>>
            <nav class="navMenu">
                <a href="QuemSouEu.html" class="outrosMenu">Quem sou eu</a>
                <a href="Interesses.html" class="outrosMenu">Interesses</a>
                <a href="Projetos.html" class="menuAtual">Projetos</a>
            </nav>
        </header>
        <!-- Descrição -->
        <span class="posDesc">
            Meu primeiro projeto está sendo desenvolvido na FATEC de São José dos Campos/SP.
        </span>
        <!-- Continuação Descrição -->
        <span class="posDesc2">
            Onde participo de um grupo, responsável por desenvolver um Sistema de Divulgação de Informações Prioritárias da FATEC.
        </span>
        <span class="posDesc3">
            Esse projeto é tratado como API - Aprendizado por Projeto Integrado.
        </span>
        <main>
            <!-- TITULO -->
            <span class="posTitulo">
                Neste sistema, está sendo desenvolvido as seguintes páginas web:
            </span>
            <!-- LISTA ORDENADA -->
            <ol>
                <li>Tela de login</li>
                <li>Tela de cadastro</li>
                <li>Tela inicial (onde estará disponibilizando prévias de informações)</li>
                <li>Tela cheia (agrupamento de informações)</li>
                <li>Tela de visualização da informações</li>
            </ol>
            <!-- IMAGENS/TITULOS EXEMPLO -->
            <div>
                <!-- TITULO LOGIN -->
                <span class="tituloLogin">Tela de Login</span>
                <!-- IMAGEM LOGIN -->
                <div class="telaLogin">
                    <span class="descLogin">Imagem tela de Login</span>
                </div>
                <!-- TITULO INICIAL -->
                <span class="tituloInicial">Tela Inicial</span>
                <!-- IMAGEM INICIAL -->
                <div class="telaInicial">
                    <span class="descInicial">Imagem tela Inicial</span>
                </div>
                <!-- TITULO CADASTRO -->
                <span class="tituloCadastro">Tela de Cadastro</span>
                <!-- IMAGEM CADASTRO -->
                <div class="telaCadastro">
                    <span class="descCadastro">Imagem tela de Cadastro</span>
                </div>
                <!-- TITULO CHEIA -->
                <span class="tituloCheia">Tela Cheia</span>
                <!-- IMAGEM Cheia-->
                <div class="telaCheia">
                    <span class="descCheia">Imagem tela Cheia</span>
                </div>
                <!-- TITULO VISUALIZAÇÃO DA INFORMAÇÕES -->
                    <span class="tituloVisu">Tela de Visualização da Informação</span>
                <!-- IMAGEM Cheia-->
                <div class="telaVisu">
                    <span class="descVisu">Imagem Visualização da Informação</span>
                </div>
            </div>
        </main>
        <footer>
            <span id="logotipo2">
             LOGOTIPO
            </span>
        </footer>
    </body>
</html>