<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quem sou eu</title>
        <link rel="stylesheet" type="text/css" href="../static/css/quemsoueu_style.css">
    </head>
    <body>
        <header>
            <span id="logotipo">
                LOGOTIPO
            </span>>
            <nav class="navMenu">
                <a href="" class="menuAtual">Quem sou eu</a>
                <a href="Interesses.html" class="outrosMenu">Interesses</a>
                <a href="Projetos.html" class="outrosMenu">Projetos</a>
            </nav>
        </header>
        <main> 
            <div class="apresentacao">
                <span class="ola">
                    Olá!
                </span>
                <span class="desc">
                    <p>Meu nome é Lucas Lessa, eu tenho 20 anos de idade</p>
                    e atualmente estou cursando Desenvolvimento de Software 
                    <p>Multiplataforma na FATEC
                    de São José dos Campos/SP.</p>
                </span>
                <div class="imgComFiltro">
                    <p class="textFiltro">IMAGEM COM FILTRO</p>
                </div>
            </div>
            <div class="tecnologiacontato">
                <span class="tecnologias">
                    Tecnologias
                </span>
                <span class="descTecnologias">
                    Conhecimento básico em HTML, CSS, Python e Flask.
                </span>
                <span class="contato">
                    Contato
                </span>
                <span class="maisInformacoes">
                    Mais informações:
                </span>
                <nav class="infoGit">              
                    <a href="https://github.com/qLessa">github.com/qLessa</a>
                </nav>
                <nav>
                    <a href="https://github.com/qLessa"><img id="imgGit" src="../static/img/logogithub.png"></a>
                </nav>
                <span class="infoEmail">
                    lucas.silva861@fatec.sp.gov.br  
                </span>
                <img id="imgEmail" src="../static/img/logoemail.png">
            </div>
        </main> 
        <footer>
           <span id="logotipo2">
            LOGOTIPO
           </span>
        </footer>
    </body>
</html>