* {
    margin:0px;
}

/* REMOVER EFEITOS AO CLICAR */
a {
    color:inherit;
    text-decoration: none;
}

/* CABEÇALHO */
header {
    position: relative;
    height: 133px;
    background: #000000;
}

#logotipo {
    position:absolute;
    left:250px;
    top:50px;
    font-weight:bold;
    color:white;
    font-size:30px;
}
.navMenu {
    position:absolute;
    bottom:37%;
    left:40%;
}

.menuAtual {
    color:#14CFF9;
    font-weight:bold;
    margin-right:70px;
    font-size:30px;
}

.outrosMenu {
    color:#ffffff;
    font-weight:bold;
    margin-right:70px;
    font-size:30px;
}

/* PRINCIPAL */
main {
    position:relative;
}

/* APRESENTAÇÃO */
.apresentacao {
    position: absolute;
    width: 100%;
    height: 359px;
    background: #767575;
}

.ola {
    position:relative;
    font-size:40px;
    font-weight:30px;
    color:white;
    left:420px;
    top:80px;
}

.desc {
    position:absolute;
    font-size:25px;
    font-weight:30px;
    color:white;
    left:200px;
    top:150px;
}

.imgComFiltro {
    position: absolute;
    width: 475px;
    height: 290px;
    left: 975px;
    top: 30px;
    background: #C4C4C4;
    border-radius: 45px;
}

.textFiltro {
    position:absolute;
    font-size:30px;
    font-weight:bold;
    right:75px;
    top:120px;
}
/* TECNOLOGIAS */
.tecnologiacontato{
    position: relative;
    width: 100%;
    height: 359px;
    left: -1px;
    top:359px;
    background: #ffffff;
}

.tecnologias {
    position:relative;
    font-size:40px;
    font-weight:30px;
    color:rgb(0, 0, 0);
    left:200px;
    top:80px;
}

.descTecnologias {
    position:absolute;
    font-size:25px;
    font-weight:30px;
    color:rgb(0, 0, 0);
    left:200px;
    top:180px;
}

/* CONTATO */ 

.contato {
    position:absolute;
    font-size:40px;
    font-weight:30px;
    color:rgb(0, 0, 0);
    right:780px;
    top:80px;
}

.maisInformacoes {
    position:absolute;
    font-size:25px;
    font-weight:30px;
    color:rgb(0, 0, 0);
    right:720px;
    top:180px;
}

.infoGit {
    position:absolute;
    font-size:25px;
    font-weight:30px;
    color:rgb(0, 0, 0);
    right:650px;
    bottom:80px;
}

#imgGit {
    position:absolute;
    width:40px;
    height:40px;
    left:1010px;
    bottom:74px;
}

.infoEmail {
    position:absolute;
    font-size:25px;
    font-weight:30px;
    color:rgb(0, 0, 0);
    right:530px;
    bottom:20px;
}

#imgEmail {
    position:absolute;
    width:40px;
    height:40px;
    left:1010px;
    bottom:15px;
}

/* RODAPÉ */
footer {
    position: absolute;
    width: 100%;
    height: 133px;
    left: -2px;
    top: 946px;
    background: #000000;
}

#logotipo2 {
    position:absolute;
    left:250px;
    top:50px;
    font-weight:bold;
    color:white;
    font-size:30px;
}

